@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0 ;
    padding:0;
}
body{
    background-color: #FCF5E0;
}
a{
    text-decoration:none;
}
a, p, legend, h1, h2, h3, h4, h5{
    font-family: 'Red Hat Display', sans-serif;
}

.container{
    height:64.6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    height: 85%;
    width: 85%;
    background-color:white;
    /* overflow:hidden;
    overflow-y: auto; */
    border-radius: 20px
}
.box-top{
    height: 15%;
    background-color:#f5decd;
    border-radius: 20px 20px 0 0;
    color: black;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    padding: 0 50px;
    box-sizing: border-box;
}

.box-down{
    height: 85%;
    box-sizing:border-box;
    padding:0 15px;
    overflow: hidden;
    overflow-y: auto;
}
.no{
    width: 10%;
}
.item-name{
    width: 18%;
}
.price{
    width:18%;
}
.quantity{
    width:18%
}
.sub-total{
    width:18%;
}
.delete{
    width:18%;
}


.cart-data{
    width: 100%;
    padding: 20px 50px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.delete a{
    color: white;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color:rgb(255, 83, 83);
}
.delete{
    display: flex;
    justify-content:center;
    align-items: center;
}

.checkout{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.checkout a{
    text-decoration: none;
    padding: 15px 20px;
    background-color: #D4C9D4;
    color: black;
    font-weight: bold;
    border-radius:10px;
}


