@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FCF5E0;
}
p, a, legend, h1, h2, h3, h4, h5{
    font-family: 'Red Hat Display', sans-serif;
}
.container{
    display: flex;
    min-height: 64.5vh;
    /* height:fit-content; */
    padding-bottom:50px;
    justify-content:center;
    align-items:center;
}
.container-left, .container-right{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 50%;
    height:100%;
}
/* .container-left{
    background-color: aliceblue;
}
.container-right{
    background-color:aqua
} */

.gambar{
    /* transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%; */
    /* background-color:blue; */
    width: 60%;
    height: 60%;
}
.gambar img{
    width: 100%;
    height: auto;
}
input{
    height: 54px;
    border: 1px solid #4B4B4B;
    background-color: #FCF5E0;
    border-radius: 8px;
    text-indent: 20px;
    /* border-style: none; */
}



.detail-container{
    /* transform: translate(-50%, -50%); */
    height: 70%;
    width: 80%;
    /* position: relative; */
    /* top: 50%; */
    /* left: 50%; */
    /* background-color:brown; */
}
.box.stock legend, .box.price legend{
    text-indent: 10px;
}
.box.stock, .box.price{
    width: 28%;
}
.box, .items{
    width: 100%;
}
.items{
    height: fit-content;
    box-sizing: border-box;
    border: 1px solid #4B4B4B;
    background-color: #FCF5E0;
    border-radius: 8px;
    padding: 20px 12px 10px;
    /* text-indent: 20px; */
}

.box p{
    position:relative;
    text-align: center;
    top: 18px;
    left: 20px;
    background-color:#FCF5E0;
    font-size: 20px;
    width: fit-content;
    padding: 0 10px;
    /* width: 200px; */
    height:30px;
}

button{
    border-radius: 10px;
    font-size:15px;
    margin-top: 20px;
    padding: 20px 0;
    border-style: none;
    width: 20%;
    border: 1px solid #4B4B4B;
    background-color: #FCF5E0;
}


.errror-box{
    width: fit-content;
    padding: 20px 10px;
    margin-top: 20px;
    background-color: #E57373;
    border-radius: 10px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

