*{
    margin: 0;
    padding: 0;
}

input, button{
    border-style: none;
}

a{
    text-decoration: none;
}
body{
    background-color: #FCF5E0;
}

.container{
    height: 73vh;
    display: flex;
    /* width: fit-content; */
    align-items: center;
    justify-content: center;
}

form{
    /* position:absolute; */
    display: flex;
    width: 375px;
    height: fit-content;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    justify-content: center;
    flex-direction:column;
}
input, .inputs{
    height: 54px;
    border: 1px solid #4B4B4B;
    background-color: #FCF5E0;
    border-radius: 8px;
    text-indent: 20px;
}
.form-group input, .inputs{
    width: 100%;
}

.bi{
    position: absolute;
    right: 42%;
    margin-top: 20px;
    /* top:10px; */
    /* top: 40px; */
    /* bottom: 0; */
    cursor: pointer;
    font-size:19px;
}

.box p{
    position:relative;
    text-align: center;
    top: 18px;
    left: 20px;
    background-color:#FCF5E0;
    font-size: 20px;
    width: fit-content;
    padding: 0 10px;
    /* width: 200px; */
    height:30px;
}

:placeholder-shown{
    font-size:14px;
    text-indent: 20px;
}

.btn{
    background-color:#D4C9D4;
    border-radius: 8px;
    height: 45px;
    margin-top: 20px;
    /* padding-top: 10px; */
    cursor: pointer;
    font-size: 15px;
}



.remember{
    display: flex;
    align-items: center;
    height: 30px;
    padding-top:10px;
}

.remember input{
    height: 20px;
    /* font-size:10px; */
}

.remember h1{
    font-weight: lighter;
    padding-left: 20px;
    height: 20px;
    font-size:20px;
}
