@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

li, ul{
    list-style: none;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.8vh 30px 4.6vh;
    height: 20vh;
}

.navbar-up{
    padding-bottom: 20px;
}
.navbar-down{
    display: flex;
    justify-content: space-between;
    align-items: space-evenly;
    width: 50%;
    justify-content: center;
}
.navbar-down a{
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    font-size: 20px;
    padding: 0 10px;
    color: #181D31;
}
.navbar-down ul{
    /* width: 250px; */
    float: right;
}


.navbar-down ul li a{
    display: block;
    padding: 0 10px;
    line-height:60px;
}

.navbar-down ul ul{
    border-radius: 0 0 10px 10px;
    background-color: #FCF5E0;
    position: absolute;
    left: -20px;
    top: 60px;
    display: none;
    /* background-color: #D4C9D4; */
}

.navbar ul li:hover > ul{
    display: block;
}

.navbar-down ul li ul a:hover{
    /* background-color: #fff; */
    /* font-size: 22px; */
    transform: scale(1.05);
}


.navbar-down ul li{
    /* display: flex; */
    position: relative;
    display: inline-block;
}

.navbar-down ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    background-color: #D4C9D4;
}
.footer h2{
    font-family: 'Red Hat Display', sans-serif;
    color: white;
}
